<% if (typeof devices != 'undefined') { %> 
    <% devices.forEach(function(device) { %> 
        <tr>
            <th> <%= device.name %>  </th>
            <form id="deviceForm" action="/devices" type="POST">
                <td style="text-align: right;">
                    <div class="dropdown" class="col-md-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Activate a plant
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <% if (typeof plants != 'undefined') { %> 
                                <% plants.forEach(function(plant) { %> 
                                    <a type="submit" onclick="document.getElementById('deviceForm').submit();" class="dropdown-item" value="<%= plant.id %>"> <%= plant.name %></a>
                                <% }) %> 
                            <% } else { %>
                                <a class="dropdown-item" href="#"> No Active Plants </a>
                            <% } %>  
                        </div>
                    </div>
                </td>
            </form>
        </tr>
    <% }) %> 
<% } else { %> 
    <tr>
        <th>No Devices Linked With This Account</th>
        <td style="text-align: right;">
                <div class="dropdown" class="col-md-2">
                    
                </div>
        </td>
    </tr>
<% } %> 