<% if (typeof plants != 'undefined') { %> 
    <% plants.forEach((plant) => { %> 
        <tr>
            <th><input type="text" class="form-control" name = "plant_name" id="plant_name" placeholder="Enter Plant Name" value="<%= plant.name %>" required></th>
            <td style="text-align: center;">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" href="#">
                        <span id="selected<%= plant.id %>">Moisture Level</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Dry</a></li>
                        <li><a class="dropdown-item" href="#">Moist</a></li>
                        <li><a class="dropdown-item" href="#">Wet</a></li>
                        <script>
                            $(document).ready(function(){
                                $(".dropdown-menu li a").click(function(e){
                                    $(e.target).closest('.dropdown').closest('selected<%= plant.id %>').text($(this).text());
                                });
                            });
                        </script>
                    </ul>
                </div>
            </td>
            <td style="text-align:left;">
            <button type="button" class="btn btn-danger">Remove</button>
            </td>
        </tr>
    <% }) %> 

<% } else { %> 

<% } %> 

