<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="Device management page">
        <meta name="Tad, James, Mathew">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
        <title>Devices</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
        <link href="http://leia.cs.spu.edu:3001/source/css/min" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/dashboard.css">
        <!-- Custom styles for this template -->
        <!-- <script type="text/javascript" src="http://leia.cs.spu.edu:3001/source/css/dash"></script> -->
        <link href="http://leia.cs.spu.edu:3001/source/css/dash" rel="stylesheet">
    </head>
    
    <body>
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/index">DRIP</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <form action="/logout?_method=DELETE" method="POST">
                        <a onclick="this.closest('form').submit();return false;" class="nav-link-signout" style="color: white;" type="submit">Sign out</a>
                    </form>
                </li>
            </ul>
        </nav>
    
        <div class="container">
            <div class="row">
                <nav class="shadow col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/users/dashboard">
                                    <span data-feather="home"></span>
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/users/plants">
                                    <span><img src="http://leia.cs.spu.edu:3001/source/plant" alt="Plant Icon"
                                            onMouseOver="this.style.color='#0F0'" onMouseOut="this.style.color='#00F'"
                                            class="feather plantIcon"></span>
                                    Plants
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/users/devices">
                                    <span data-feather="cpu"></span>
                                    Devices <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/users/account">
                                    <span data-feather="users"></span>
                                    Account
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <h1 class="mb-3">Devices</h1>
                    <div class="table">
                        <table class="table table table-md">
                            <div class="alert-success">
                                <% include ./partials/messages %> 
                            </div>
                            <% include ./partials/devicesTable %>
                        </table>
                        <br>
                        <h2>Add New Device</h2>
                        <table class="shadow table table table-md">
                            <form action="/users/addDevice" method="POST">
                                <tr>
                                    <th><input type="text" class="form-control" name = "new_device_name" id="new_device_name" placeholder="Enter device name" required></th>
                                    <td><input type="text" class="form-control" name = "new_device_id" id="new_device_id" placeholder="Enter device ID" required></td>
                                    <td colspan="2" style="text-align:right;"><button type="submit" value="Submit" class="shadow btn btn-success">Add Device</button></td>
                                </tr> 
                            </form>
                        </table>
                    </div>
                </main>
                <!-- Bootstrap core JavaScript
          ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
                <script src="http://leia.cs.spu.edu:3001/source/js/popper"></script>
                <script src="http://leia.cs.spu.edu:3001/source/js/min"></script>
    
                <!--Our JS (We may not need this..?Seems to work without it so far)-->
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                    crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                    crossorigin="anonymous"></script>
    
                <!-- Icons -->
                <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
                <script>
                    feather.replace()
                </script>
            </div>
            <script>
                /* Submit form to renameDevice when clicking out of the name input field*/
                function lostFocus(e) {
                    if ($(e).val() !== $(e).siblings('input').val()) {
                        $.ajax({
                            type: 'POST',
                            url: '/users/renameDevice',
                            //Send new device name, original device name and device id
                            data: { device_name: $(e).val(), original: $(e).siblings('#original').val(), device_id: $(e).siblings('#device_id').val() },
                            success: function (x) {
                                $(".alert-success").empty();
                                $(".alert-success").append("<div class='alert alert-success alert-dismissible fade show' role='alert'>Device renamed<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
                        },
                        error: function (x) {
                            $(".alert-success").empty();
                            $(".alert-success").append("<div class='alert alert-warning alert-dismissible fade show' role='alert'>Unable to rename device<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
                        }
                    })
                }
                    $(e).prop('readonly', true);
                }
                $( document ).on( "click", function(e) {
                    //Device name input fields are readonly until bringing them into focus 
                    $(e.target).closest( "input" ).removeAttr("readonly");
                });
            </script>
    </body>
</html>
