<head>
    <title>DRIP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<!-- Forgotten Password Request Form -->
<article class="container box style3">
    <header>
        <h2>Enter Email for Password Change Request</h2>
    </header>
    <form action="/passwordchangerequest" method="POST">
    <div class="row">
        <label for="email"><b></b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
        <div class="col-12">
            <ul class="actions">
                <li><button type="submit">Request Password Change</button></li>
            </ul>
        </div>
    </div>
        <a href="index.html" class="button style3">Cancel</a>
    </form>
    <!--<a href="/login">Login</a>-->
</article>

<!--
<script language='javascript' type='text/javascript'>
    function passwordChecker(password){
        if(password.value == document.getElementById('password').value){
            document.getElementById('passwordVailidityOutput').innerHTML = "&#10004 Passwords match"
        }else{
            document.getElementById('passwordVailidityOutput').innerHTML = "&#10005 Passwords do not match"
        }
    }
    function accountCreation(){
        document.getElementById('willItSend').innerHTML = "Hi"
        /*
        if(document.getElementById('passwordValidityOutput').value == "&#10004 Passwords match"){
            document.getElementById('willItSend').innerHTML = "&#10004 Will send"
        }else{
            document.getElementById('willItSend').innerHTML = "&#10005; Will not send"
        }*/
    }
</script>
-->