<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DRIP Home</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/indexAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/indexAssets/css/scrolling-nav.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body id="page-top">
  
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="shadow container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">DRIP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#source">Source Code</a>
            </li>
        <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <header class="bg-dark text-white">
      <div class="container text-center">
      <img style="padding-top: 14%;" src="images\fulls\logoBigVector.png" alt="Large logo"/>
      </div>
    </header>
  
    <section style="padding-top:4%; padding-bottom: 1%;" id="about">
      <div class="container-fluid">
        <div>
          <div class="container text-center">
            <p class="lead text-center">DRIP Smart Moisture Sensor</p> 
            <h3 style="font-size: 25pt;" class="shadowed-sm text-center">Powered by Raspberry Pi</h3>
            <img class="shadowed-lg" style="height: 700x;width: 700px;" src="images\Icons\PI.png" alt="">
          </div>
          <br>
        </div>
        <div class="shadow-sm row">
          <div class="pic col-6 col-md-4">
            <img class="shadowed-lg"style="height: 250;width: 250px;display: block;margin-left: auto;margin-right: auto;" src="images\Icons\cloud.png" alt="">
            <div class="overlay">
              <div class="text">Keep your data in the cloud</div>
            </div>
          </div>
          <div class="pic col-6 col-md-4">
            <img class="shadowed-lg" style="height: 250x;width: 250px;display: block;margin-left: auto;margin-right: auto;" src="images\Icons\monitor.png" alt="">
            <div class="overlay">
              <div class="text">View your data</div>
            </div>
          </div>
          <div class="pic col-6 col-md-4">
            <img class="shadowed-lg" style="height: 250x;width: 250px;display: block;margin-left: auto;margin-right: auto;" src="images\Icons\notification.png" alt="">
            <div class="overlay">
              <div class="text">Get email notifications when your plant needs water</div>
            </div>
            <br>
            <br>
          </div>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RaK7OV-9dP0" allowfullscreen></iframe>
          </div>
        </div>
        <section id="source">
          <div class="container text-center">
            <a href="https://github.com/bettagj/DRIP" style="width:100px;height:100px;color:#343a40;"class="fa fa-github fa-5x"></a>
            <br>
            <p style="font-size: 15pt;" class="shadowed-sm text-center">Source Code</p>
          </div>
        </section>
      </div>
    </section>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container shadow text-center" style="max-width: 400px;">
      <a href="https://linkedin.com/in/listermathew" class="icon brands fa-linkedin-in"><span style="color: white;" class="label">Mathew LinkedIn | </span></a>
      <a href="https://www.linkedin.com/in/tad-okazaki/" class="icon brands fa-linkedin-in"><span style="color: white;" class="label">Tad LinkedIn | </span></a>
      <a href="https://www.linkedin.com/in/james-bettag/" class="icon brands fa-linkedin-in"><span style="color: white;" class="label">James LinkedIn</span></a>
      </div>
      <!-- /.container -->
    </footer>
  
    <!-- Bootstrap core JavaScript -->
    <script src="/assets/indexAssets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/indexAssets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Plugin JavaScript -->
    <script src="/assets/indexAssets/vendor/jquery-easing/jquery.easing.min.js"></script>
  
    <!-- Custom JavaScript for this theme -->
    <script src="/assets/indexAssets/js/scrolling-nav.js"></script>
  
  </body>
</html>
