<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>DRIP Home</title>
  <!-- Bootstrap core CSS -->
  <link href="/assets/indexAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/assets/indexAssets/css/scrolling-nav.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">DRIP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#source">Source Code</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-dark text-white">
    <div class="container text-center">
	  <img src="images\fulls\logoBigVector.png" alt="Large logo"/>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-center">About DRIP</h2>
          <p class="lead text-center">DRIP Smart Moisture Sensor</p>  <!--Damp Reading I Plant-->
            <p class="text-center">Measure the moisture levels of your plants' soil</p>
            <p class="text-center">Then make an account to see your plants data</p>
            <p class="text-center">You can easily add or remove plants and devices from your account</p>
        </div>
      </div>

      <div>
        <br>
        <br>
        <h3 class="text-center">Keep your data in the cloud</h3>
        <div class="container text-center">
          <img style="height: 250x;width: 250px;" src="images/icons/cloud.png" alt="">
        </div>
        <br>
      </div>
      
      <div>
        <br>
        <br>
        <h3 class="text-center">View your data</h3>
        <div class="container text-center">
          <img style="height: 250x;width: 250px;" src="images/icons/monitor.png" alt="">
        </div>
      </div>
      
      <div>
        <br>
        <br>
        <h3 class="text-center">Get email notifications when you need to water your plant</h3>
        <div class="container text-center">
          <img style="height: 250x;width: 250px;" src="images/icons/notification.png" alt="">
        </div>
      </div>
      
      <div>
        <br>
        <br>
        <h3 class="text-center">Our sensor is powered by Raspbery Pi</h3>
        <div class="container text-center">
          <img style="height: 300x;width: 300px;" src="images/icons/PI.png" alt="">
        </div>
      </div>
      <section id="source">
        <h3 class="text-center">Source Code</h3>
        <div class="container text-center">
          <a href="https://github.com/bettagj/DRIP" style="width:100px;height:100px;color:#343a40;"class="fa fa-github fa-5x"></a>
        </div>
      </section>
    </div>
  </section>

  

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="col-xs-1 text-center">
		<a href="https://linkedin.com/in/listermathew" class="icon brands fa-linkedin-in"><span class="label">Mathew LinkedIn | </span></a>
		<a href="https://www.linkedin.com/in/tad-okazaki/" class="icon brands fa-linkedin-in"><span class="label">Tad LinkedIn | </span></a>
		<a href="https://www.linkedin.com/in/james-bettag/" class="icon brands fa-linkedin-in"><span class="label">James LinkedIn</span></a>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/assets/indexAssets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/indexAssets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/assets/indexAssets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="/assets/indexAssets/js/scrolling-nav.js"></script>

</body>

</html>
