<head>
    <title>DRIP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <noscript><link rel="stylesheet" href="assets/css/noscript.css"/></noscript>
</head>

<!--Allows us to display error messages-->
<% if (messages.error){ %>
    <%= messages.error %>
<% } %> 

<article class="container box style3">
    <header>
        <h2>Login</h2>
    </header>
    <form action="/login" method="POST">
    <div class="row">
        <label for="email"><b></b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="password"><b></b></label>
        <input type="text" placeholder="Enter Password" name="password" id="password" required>
        
        <div class="col-12">
            <ul class="actions">
                <li><a href="index.html" class="button style3">Cancel</a></li>
                <li><input type="submit" value="Sign In"/></li>
                <li><a href="/register"  class="button style3">New User?</a></li>
                
            </ul>
        </div>
        <div style="display: block; margin: 0 auto;">
            <a href="#"  class="button style3">Forgot Password?</a>
        </div>
    </div>
    </form>
</article>