<head>
    <title>DRIP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<!-- Password Change Form -->
<article class="container box style3">
    <header>
        <h2>Change Password</h2>
    </header>
    <form action="/passwordchange" method="POST">
    <div class="row">
        <label for="psw"><b></b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>

        <label for="psw"><b></b></label>
        <input type="password" placeholder="Reenter Password" name="psw2" id="psw2" oninput="passwordChecker(this)" required>
        
        <p id="passwordVailidityOutput">&#10005; Passwords do not match<br></p>
        <p id="willItSend">&#10005; Will not send<br></p>

        <div class="col-12">
            <ul class="actions">
                <li><button type="submit">Create Account</button></li>
            </ul>
        </div>
    </div>
        <a href="index.html" class="button style3">Cancel</a>
    </form>
    <a href="/login">Login</a>
</article>
<script language='javascript' type='text/javascript'>
    function passwordChecker(password){
        if(password.value == document.getElementById('password').value){
            document.getElementById('passwordVailidityOutput').innerHTML = "&#10004 Passwords match"
        }else{
            document.getElementById('passwordVailidityOutput').innerHTML = "&#10005 Passwords do not match"
        }
    }
    function accountCreation(){
        document.getElementById('willItSend').innerHTML = "Hi"
    }
</script>