<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Password-Change</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="assets/webfonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="assets/css/utilLogin.css">
        <link rel="stylesheet" type="text/css" href="assets/css/mainLogin.css">
    <!--===============================================================================================-->
    </head>
    <body>
        <!-- Password Change Form -->
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form  action="/passwordchange" method="POST" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                        <span class="login100-form-title">
                            Change Password
                        </span>
                        <% include ./partials/messages %>
                        
                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter password">
                            <input class="input100" type="password" name="password" id="password" placeholder="Password">
                            <span class="focus-input100"></span>
                        </div>
    
                        <div class="wrap-input100 validate-input" data-validate = "Please enter password">
                            <input class="input100" type="password" name="password2" id="password2" placeholder="Password">
                            <span class="focus-input100"></span>
                        </div>
                        
                        <div style="padding-top: 20px;" class="container-login100-form-btn">
                            <input  class="login100-form-btn" value="Submit" type="submit">
                        </div>
    
                        <div class="text-right p-t-13 p-b-23">
                            <a href="/index"  class="txt2">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    <!--===============================================================================================-->
        <script src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="assets/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
        <script src="assets/vendor/bootstrap/js/popper.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="assets/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <script src="assets/vendor/daterangepicker/moment.min.js"></script>
        <script src="assets/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
        <script src="assets/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
        <script src="assets/js/mainLogin.js"></script>
    </body>
</html>



