<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="assets/webfonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="assets/css/utilLogin.css">
        <link rel="stylesheet" type="text/css" href="assets/css/mainLogin.css">
    <!--===============================================================================================-->
    </head>
    <body>
        <!-- Registration Form -->
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form  action="/register" method="POST" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                        <span class="login100-form-title">
                            Sign Up
                        </span>
                        <% include ./partials/messages %>
                        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter name">
                            <input class="input100" type="text" name="name" id="name" placeholder="Name">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email">
                            <input class="input100" type="text" name="email" id="email" placeholder="Email">
                            <span class="focus-input100"></span>
                        </div>
                        <br>
                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter password">
                            <input class="input100" type="password" name="password" id="password" placeholder="Password">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter password">
                            <input class="input100" type="password" name="psw2" id="psw2" placeholder="Reenter Password">
                            <span class="focus-input100"></span>
                        </div>
                        <br>
                        <br>
                        <div class="container-login100-form-btn">
                            <input  class="login100-form-btn" value="Sign up" type="submit">
                        </div>

                        <div class="flex-col-c p-t-80 p-b-40">
                            <span class="txt1 p-b-9">
                                Already have an account?
                            </span>
    
                            <a href="/login" class="txt2">
                                Sign in now
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    <!--===============================================================================================-->
        <script src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="assets/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
        <script src="assets/vendor/bootstrap/js/popper.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="assets/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <script src="assets/vendor/daterangepicker/moment.min.js"></script>
        <script src="assets/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
        <script src="assets/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
        <script src="assets/js/mainLogin.js"></script>    
    </body>
</html>